*{
  font-family: "Segoe UI", Tahoma, Georgia, Verdana, sans-serif;
}


.tweet{
  background-color: #81ecec;
  border:2px solid #0984e3;
  padding: 8px;
  width: fit-content;
  min-width: 200px;
}
.tweet h3,
p{
  margin: 8px 0;
}

.tweet-container{
  display: flex;
  flex-wrap: wrap;
  gap:16px
}